version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/app-cli"
    schedule:
      interval: "monthly"
    groups:
      pip:
        patterns:
          - "*"
