version: 2

registries:
  github-packages:
    type: nuget-feed
    url: https://nuget.pkg.github.com/rczajkadev/index.json
    username: rczajkadev
    password: ${{secrets.DEPENDABOT_GITHUB_PACKAGES_TOKEN}}

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: nuget
    directory: /app-api
    registries:
      - github-packages
    schedule:
      interval: monthly
    groups:
      nuget:
        patterns:
          - "*"

  - package-ecosystem: pip
    directory: /app-cli
    schedule:
      interval: monthly
    groups:
      pip:
        patterns:
          - "*"
