version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "nuget"
    directory: "/app-api"
    schedule:
      interval: "monthly"
    groups:
      nuget:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/app-cli"
    schedule:
      interval: "monthly"
    groups:
      pip:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/infra/local"
    schedule:
      interval: "monthly"
    groups:
      docker:
        patterns:
          - "*"
