[*.cs]
dotnet_analyzer_diagnostic.severity = error

dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA2007.severity = none

dotnet_diagnostic.IDE0005.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.IDE0072.severity = none

csharp_prefer_braces                   = when_multiline:warning
csharp_style_expression_bodied_methods = when_on_single_line:warning
csharp_style_namespace_declarations	   = file_scoped:error
csharp_style_var_for_built_in_types    = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere             = true:warning

[tests/**/*.cs]
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1707.severity = none
